.Container{
    display: grid;
    width: 100%;
    padding:80px 40px;
    grid-template-columns: repeat(auto-fit,300px);
    justify-content: center;
    gap: 80px;
    align-items: center;
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagination button{
    border: 1px lightseagreen solid;
    padding: 5px 10px;
    background:none;
    color: lightseagreen;
    cursor: pointer;
}
.pagination .deactive{
    color: gray;
    border: 1px solid gray;
    cursor: not-allowed;
}